﻿@model BibleVerses.Models.VerseModel

<h4>Search Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults" method="get">

            <div class="form-group">
                <label class="control-label">Search for a Bible Verse:</label>
                <input name="searchTerm" class="form-control" />
            </div>
            <div class="form-group">
                <input type="radio" id="both" name="search_section" value="0" checked>
                <label for="both">Both</label><br>
                <input type="radio" id="ot" name="search_section" value="1">
                <label for="ot">Old Testament</label><br>
                <input type="radio" id="nt" name="search_section" value="2">
                <label for="nt">New Testament</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

