﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Really Important Message</h1>
<p>This page is <em>very</em> important.</p>
<p>Thanks for reading</p>