﻿@model Activity3a.Models.ProductModel

<h4>Search Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults">

            <div class="form-group">
                <label class="control-label">Search for a Product Name:</label>
                <input name="searchTerm" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

